* > *{
	font-family: Arial;
}

form{
	padding: 0.5em;
}
form > *{
	padding: 0.2em;
}
tbody, th, td{
	padding:5px;
}
td:nth-child(odd),
th:nth-child(odd)
{
	/*background: #CCC;*/
	/* Hides every other table row.
	    Just copies of same columns labeled 1, 2, 3 etc...*/
	display: none;
	
}
.specsButton{
	padding: .5px;
	font-size: 10px;
	background-color:#f7f7f7;
}
.specs{
	padding-left:3%;
	padding: 3%
}
.specsLabel{
	margin: 0em 0.5em;
}
#totalLabel{
	font-wieght: bold;
}
button
{
	/*Made clickable by js/main.js*/
	display:none;
	margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
button + label
{
	display:inline-block;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border-color: #ddd;
}
button[type="submit"]{
	display:block;
}
