*{
	/* applys to all elements */
	padding:0px;
	margin:0px;
}
.red{
	color:#CB0000;
}
#website{
	/*add backgorund here*/
	width:100%;
	height:100%;
	font-family: Arial;
}
h1{
	
}
textarea{
	font-family:Arial;
	padding:5px 10px;
	max-width:80%;
	min-width:80%;
	max-height:75px;
	min-height:75px;
	font-size:15px;
}
#stuff{
	/*text-align:center;*/
	padding:45px;
	margin-right:20%;
	margin-left:20%;
	margin-top:0px;
	min-height:300px;
	width:50%;
	position:absolute;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
	border-top:none;
	/*background stuff*/
	/* Commented because I have been told Total Impact Signs
	* 	doesen't want the beta sticker
	*background: #F0F0F0 url("../image/beta.png") no-repeat left top;
	*/
	background-color: #F0F0F0;
	background-size: 4em 4.6em;
}
#stuff > *{
	/* applys to eveything inside #suff div */
	padding:10px;
}
#header{}
.bigButton{
	height:75px;
	width:75px;
}
#question{
	/* #IN, $OUT's parent */
	float:left;
	min-width:200px;
	min-height:75px;
}
#IN, #OUT{
	float:left;
	padding:10px;
	font-size:30px;
}
#IN{
	left:10%;
}
#OUT{
	left:27%;
}
*[type="submit"]{
	padding:2px;
}
#questions{
	margin-top:20px;
}
#charsleft{

}
/** FROM ONLINE EXTERNAL SOUCES **/
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio]
{
	display:none; 
	margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label
{
	display:inline-block;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
	background-image: none;
	background-color:#999999;
}
/* END OF EXTERNAL CODE*/
#submit{
	background-color:#e7e7e7;
}
#submit:focus{
	background-color:#999999;
}
#stats{
	padding:3px;
}